<div class="main-body bg-light mt-3 p-3">
<%=  render "shared/nav" %>
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Recipes</li>
        <li class="breadcrumb-item">New</li>
      </ol>
    </nav> 
<%= render 'form', recipe: @recipe %>
<%= link_to 'Back', recipes_path %>
</div>