<nav class="navbar navbar-expand-lg bg-secondary-1 text-uppercase" id="mainNav">
   <a class="navbar-brand js-scroll-trigger" href="/" style="font-family: 'Gloria Hallelujah', cursive;font-size: 3rem;font-weight: 200;color: #009900;text-shadow: 2px 1px 1px #d7d7d7;">4tions <%= image_tag("pie-chart1.png", :alt => "rss feed" , class:"logo-icon") %>   </a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" href="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Home  <i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li class="nav-item mx-0 mx-lg-1">
                <%= link_to recipes_path,class:"nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" do %>
                     Recipes <i class="fas fa-file"></i>
                <%end%>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <%- if user_signed_in?%>
                    <%= link_to destroy_session_path(resource_name),class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger", method: :delete do %>
                      log out <i class="fas fa-sign-out-alt"></i>
                    <% end %>
                  <% end %>
            </li>      
            </li>       
         </ul>
    </div>     
</nav>