HOME
</br>
<%- if user_signed_in?%>
  <%= link_to destroy_session_path(resource_name), method: :delete do %><br />
    <button type="button" class="btn btn-danger">Log out</button>
  <% end %>
<% end %>

<%= link_to recipes_path do %><br />
    <button type="button" class="btn btn-info mt-1">Recipes</button>
  <% end %>
